$main-color : linear-gradient(135deg, #FF8C42, #FF6F3C);

body {
    margin: 0;
    padding: 0;
}

p, a, h1, h2, h3, input, td, th {
    margin: 0;
    padding: 0;
    font-family: "Agbalumo", serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-family: "Agbalumo", serif;
}

input {
    border: none;
}