
#login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    height: calc(100vh - 120px);
    box-sizing: border-box;

    .login__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 40px;
        gap: 60px;
        width: 100%;
        max-width: 400px;
        border-radius: 20px;

        h1 {
            font-size: 32px;
            margin-bottom: 10px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;

            .input-group {
                display: flex;
                align-items: center;
                gap: 10px;

                svg {
                    font-size: 20px;
                    color: #FF6B00;
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border: 2px solid #ccc;
                    border-radius: 5px;
                    font-size: 18px;

                    &:focus {
                        outline: none;
                        border-color: #FF6B00;
                    }

                    &::placeholder {
                        font-size: 16px;
                        color: #aaa;
                    }
                }
            }

            .Login__button {
                background-color: #FF6B00;
                color: white;
                border: none;
                padding: 15px;
                font-size: 18px;
                border-radius: 10px;
                transition: transform 0.3s ease, background-color 0.3s;
                margin-top: 20px;

                &:hover {
                    transform: scale(1.05);
                    background-color: #e65c00;
                }
            }
        }

        .Login__signupLink {

            display: flex;
            gap: 20px;
            margin-top: 10px;

            a {
                color: #FF6B00;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .Login__error {
            color: red;
            text-align: center;
        }
        
    }
}