
#error {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: calc(100vh - 120px);

    .Errorpage__left {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 110px;

        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 200px;
        }
    
        p {
            font-size: 22px;
        }
    }

    img {
        height: 500px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

}