
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100px;
    border-top: 2px solid black;
    background: linear-gradient(135deg, #FF8C42, #FF6F3C);

    p {
        font-size: 20px;
    }

    .Header__icons {
        height: 30px;
        width: 30px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}