
header {
    display: flex;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid black;
    background: linear-gradient(135deg, #FF8C42, #FF6F3C);


    .Header__logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 20%;

        img {
            height: 70px;
            width: auto;
            margin-left: 20px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .Header__kanas {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 60%;

        p {
            font-size: 30px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .Header__links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 20%;

        a {
            font-size: 20px;
            font-weight: 500;
            margin-right: 40px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

    }
}